@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap');

* {
    box-sizing: border-box;
  }

body{
    margin: 0 auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

/* Menu do site */

header {
  display: flex;
  align-items: center;
}

.cabecalho__logo img {
  width: 5.8rem;
  cursor: pointer;
}

.cabecalho__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  color: rgba(255, 255, 255, 0.697);
  font-size: 0.85rem;
  cursor: pointer;
}

.cabecalho__menu ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.cabecalho__menu ul li {
  padding-right: 0.9rem;
}

.cabecalho__menu__esquerdo ul li:hover {
  color: white;
}

.cabecalho__menu__direito {
  color: white;
  font-size: 20px;
}

.cabecalho__menu__direito ul li {
  padding-right: 1.2rem;
}

.cabecalho__user {
  display: flex;
  align-items: center;
}

.cabecalho__user img {
  width: 2rem;
  margin-right: 0.5rem;
  border-radius: 3px;
}

/* Corpo do site (background) */

.app__background {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.9) 5%,
        rgba(0, 0, 0, 0.2) 20%,
        rgba(0, 0, 0, 0.2) 80%,
        rgba(0, 0, 0, 0.8) 100%
      ),
      url(./img/background.png);
    background-size: cover;
    padding: 0.26rem 0.75rem 0 0.75rem;
  }

  
  .app__hero {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    padding: 0 3rem;
  }

.banner {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
  }

.banner__poster{
    width: 450px;
  }
  
.banner__poster__bg{
   width: 100vw;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}

.banner__subtitle{
    font-size: 1.2vw;
    color: white;
    line-height: 1.25;
    padding: 1rem 13rem 0 0;
}

.banner__btn {
    display: flex;
    margin-top: 2rem;
    border-radius: 5px;
    gap: 20px
    
  }
  
.bg__button__play {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.6rem 2rem;
    margin-right: 0.75rem;
    font-weight: 600;
    border-radius: 0.125rem;
    font-family: inherit;
    font-size: 100%;
    border: solid transparent;
    
  }
  
.bg__button__play:hover {
    background-color: rgba(255, 255, 255, 0.777);
  }

.bg__button__play i {
    margin-right: 0.5rem;
  }

.bg__button__info {
  color: white;
  padding: 0.6rem 2rem;
  margin-right: 0.75rem;
  font-weight: 600;
  border-radius: 0.125rem;
  background-color: rgba(109, 109, 110, 0.7);
  font-family: inherit;
  font-size: 100%;
  border: solid transparent;
  }

.bg__button__info:hover {
  background-color: rgba(109, 109, 110, 0.525);
}
  
.bg__button__info i {
  margin-right: 0.5rem;
}

  /*    Poster minhas lista   */

.kt {
  height: 200px;
 }

.kt__titulo {
    color: #e5e5e5e5;
    font-size: 18px;
    line-height: 17px;
    font-weight: 600;
}
  
section {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, auto);
  margin: 20px 0;
}

.lista {
  padding: 0 2px;
  transition: 250ms all;
}
    
.lista img {
  max-width: 100%;
  padding-right: 5px
}
  
section {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, auto);
  margin: 20px 0;
}
  
.-animacao:hover {
   margin: 0 40px;
   transform: scale(1.2);
}
  
.lista img {
  max-width: 100%;
  padding-right: 5px;
}


/*  Listas de séries  */

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 100%);
  overflow: hidden;
  scroll-behavior: smooth;
}

.arrow__btn {
  position: absolute;
  color: #fff;
  text-decoration: none;
  font-size: 6em;
  background: rgb(0, 0, 0);
  width: 80px;
  padding: 20px;
  text-align: center;
  z-index: 1;
}

.arrow__btn i {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.637);
}

.arrow__btn i:hover {
  color: white;
  transform: scale(1.15);
}

.arrow__btn:nth-of-type(1) {
  top: -16px;
  bottom: -10px;
  left: 0;
  background: linear-gradient(
    -90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.arrow__btn:nth-of-type(2) {
  top: -16px;
  bottom: -10px;
  right: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}


/*  Rodapé do site  */

footer {
  margin-top: 2rem;
}

.link-rede_social {
  height: 25px;
  width: 50%;
}

.link-rede_social i {
  font-size: 22px;
  margin-right: 1.5rem;
  cursor: pointer;
  color: white;
}

.conteudo-link {
  margin: 20px auto;
  color: grey;
}

.conteudo-link__info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.5em;
}

.conteudo-link__info ul {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  padding: initial;
}

.conteudo-link__info ul li {
  list-style: none;
  margin-bottom: 16px;
  cursor: pointer;
}

.conteudo-link__info ul li:hover {
  text-decoration: underline;
}

.conteudo-link__servico {
  margin-bottom: 20px;
  font-size: 13px;
}

.conteudo-link__servico-code {
  background: 0 0;
  color: grey;
  border: solid 1px grey;
  padding: 0.5rem;
}

.conteudo-link__servico-code:hover {
  color: white;
  border: solid 1px white;
}

.conteudo-link__copyright {
  font-size: 11px;
  margin-bottom: 15px;
  padding: 1rem 4px;
}